.container {
  border: ridge #47526E;
  border-radius: 55px;
  width: 15%;
  height: 50vh;
  text-align: center;
  margin: 1rem 2rem;  
  float: left;
  background: linear-gradient(to bottom, #93a2c1,#3d538e);
  border-width: thin;
  position: relative;
  
}

img {
  width: 100%;
  height: 10rem;
  margin: auto;
  display: block;
  
}

.fontawesomeIcon {
  margin: 0 auto;
  width: 50%;
  height: 10em;
}

.textInTheMiddle {
  text-align: center;
  display: inline-block;
}

label {
  display: block;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.formInputs {
  display: block;
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
}

.logoLink {
  padding-top: 3rem
}

#submitButton {
  margin-top: 1rem;
  height: 4rem;
  width: 60%;
}

body {
  background-color: #22324c;
  
}

.optionsMenu {
  width: 8%;
  background-color: white;
  padding-bottom: 1rem;
}

h2{
  margin: 0.5rem 0;
}